* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.iblock {
	display: inline-block;
}

.aboutUs {
	height: 100%;
	width: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    position: relative;        
    background: url(../img/servicebg3.jpg) top center;
    background-size: 100% auto;
}

.aboutUs-box {
	margin: 30px 20px 30px;
	padding: 30px 35px 30px;
    background: rgba(255,255,255,0.9);
}

.row {
	position: relative;
	max-width: 100%;
	margin: auto;
	display: inline-block;
}

.met-editor {
	font-weight: 300;
	width: 100%;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.8;
}

.met-editor p {
    margin-bottom: .8em;
}

.contact-sub .b {
    display: block;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    line-height: 1.5;
}

.contact-sub .p {
    display: block;
    font-size: 44px;
    line-height: 1.2;
}

.contact-sub .p em {
    font-size: 54px;
    color: #00c0ff;
    padding-right: 4px;
    font-style: normal;
}

.editorlightgallery h5 {
	margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.about-img {
	display: inline-block;
}

.img-box {
	width: 48%;
	display: inline-block;
	float: left;
	padding: 5px;
}

.img-box img {
	width: 100%;
    opacity: 1;
    display: inline;
}

/*图片*/
.enlarge {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
	z-index: 100;
	display: none;
}

.enlarge-content {
	position: relative;
	height: 100%;
}

.enlarge-head {
	height: 40px;
	padding: 10px;
}

.enlarge-pag {
	float: left;
}

.close {
	float: right;
}

.enlarge-bg-img {
	position: relative;
	top: 1px;
    height: 100%;
}

.enlarge-bg-img ul {
    top: 50%;        
    transform: translate(0%,-75%);
    position: absolute;
    width: 200%;
}

.enlarge-bg-img li {
	text-align: center;
	display: none;
	float: left;
    width: 50%;
}

.enlarge-bg-img li:nth-child(1) {
	display: block;
}

.enlarge-down {
	z-index: 120;
	position: absolute;
	bottom: 0px;
	height: 120px;
	width: 100%;
	background: rgba(255,255,255,0.8);
}

.enlarge-text {
	text-align: center;
}

.enlarge-sm-img li {
	float: left; 
	border: 1px solid #007BFF;
	margin-left: 10px;
}

.enlarge-sm-img img {
	/*height: 70px;*/
}

/*按钮切换图片*/
.img-scroll {
	position: relative;
	/*width: 340px;*/
}

.img-scroll .prev,
.img-scroll .next {
	position: absolute;
	display: block;
	width: 30px;
	height: 80px;
	background-color: white;
	top: 0;
	color: #ccc;
	text-align: center;
	line-height: 80px;
	font-size: x-large;
}

.img-scroll .prev:hover,
.img-scroll .next:hover {
	color: #FF2D52;
}

.img-scroll .prev {
	left: 0;
	cursor: pointer;
}

.img-scroll .next {
	right: 0;
	cursor: pointer;
}

.img-list {
	position: relative;
	height: 82px;
	margin-left: 40px;
	margin-right: 40px;
	overflow: hidden;	
}

.img-list img {
	width: 110px;
	/*height: 80px;*/
}

.img-list ul {
	width: 800px;
}

.img-list li {
	float: left;
	display: inline;
	width: 110px;
	margin-right: 10px;
	height: 80px;
	background-color: #BDBDDF;
	text-align: center;
	line-height: 80px;
}

/*轮播图*/
.dot-list {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

.dot-list li {
	float: left;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	background: rgba(255, 255, 255, .3);
	cursor: pointer;
	margin-right: 10px;
	font-family: "楷体";
	color: #ff2d52;
}

.dot-list li.cur {
	background: rgba(255, 255, 255, .6);
}

@media only screen and (max-width: 992px) {
	.aboutUs-box {
		margin: 30px 50px 30px;
		padding: 30px 35px 30px;
	}
}

@media only screen and (max-width: 768px) {
	.aboutUs {
		display: inline-block;
	}
	.aboutUs-box {
		margin: 30px auto 30px;
		padding: 30px 35px 30px;
	}
	.img-box {
		width: 100%;
	}
}