/*头部*/
body{
	background: cadetblue;
	height: 2000px;
}
.sup-header{
	position: relative;
	/*height: 100px;*/
	z-index: 10;
	
}
/*头部导航*/
.sup-nav-cont{
	position:fixed;
	z-index: 998;
	top: 0;
	width: 100%;
	background: transparent;
	border: none;
}
 .sup-nav-cont::before{
	width: 100%;
	height: 0;
	background: white;
	position: absolute;
	content: '';
	z-index: -1;
	transition:height .5s;
 }
 .sup-nav-cont.active::before{
 	height: 100%;
 }
 .sup-nav-cont .main-cont{
 	padding: 0 95px 0 40px;
 }
 	
 .sup-nav-cont .sup-header-logo{
  width: 186px;
  max-width: 45%;
  vertical-align: middle;
  padding: 15px 0;
  height: 80px;
 }
  .sup-nav-cont .sup-header-logo > .img{
  	max-width: 100%;
  	max-height:100%;
  	height: auto;
  	width: auto;
  	text-align: center;
  	vertical-align: middle;
  }
 
 .sup-nav-cont .sup-header-lists .button-blue{
 	padding: 8px 22px;
 	color: #000000;
 	font-weight: 400;
 }
 .sup-nav-cont .sup-header-lists .list{
	padding: 15px 22px;
	line-height: 50px;
 }
 
 .sup-nav-cont .sup-header-lists .list:hover > a{
  	color: #00C0FF;
  	transition: color 0.5s;
  }
 /*部nav中collapse按钮*/	
 .sup-nav-cont .navbar-header:hover{
 	cursor: pointer;
 }
.sup-nav-cont .navbar-toggle{
	display: block !important;
	border:none;
}
.sup-nav-cont .navbar-toggle:hover{
	background: transparent;
}
.sup-nav-cont .navbar-toggle.open{
	position: fixed;
	top: -2px;
	right: 296px;
}
.sup-nav-cont .navbar-toggle .icon-bar{
	background:#00C0FF;
	height: 4px;
	margin-top: 8px;
	width: 40px;
}

/*侧边栏*/
.sup-side-box{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 284px;
	background: darkseagreen;
	/*height: 500px;*/
	z-index: 10;
}
.sup-side-box .sup-side-search{
	width: 100%;
	padding: 10px 30px 25px;
	background: red;
}
.sup-side-box [name = search]{
	height: 60px;
	width: 84%;
}
.sup-side-box .sup-side-lists .list{
	height: 70px;
	border-bottom:1px solid green;
}
.sup-side-box .sup-side-lists .logo{
	padding: 0 15px 0 1px;
	border: 1px solid red;
	line-height: 70px;
}
.sup-side-box .sup-side-lists .list:hover .list-text{
	color: #fff;
}
.sup-side-box .sup-side-lists .list .add{
	display: block;
}
.sup-side-box .sup-side-lists .list .remove{
	display: none;
}
/*底部*/
.sup-foot{
	background: #222222;
	width: 100%;
	max-height: 704px;
	color: #EEEEEE;
	padding: 25px 40px;
}
.sup-foot-left{
	max-width: 823px;
	/*background: red;*/
}

.sup-foot-nav{
	
}
.sup-foot-nav > a,
.sup-foot-powered > a,
.sup-foot-text-link a{
	color: #EEEEEE;
}
.sup-foot-nav > a:hover,
.sup-foot-powered > a:hover,
.sup-foot-text-link a:hover{
	color:#00C0FF;
	transition: color 0.5s;
}
.sup-foot-right{
 		
}
.sup-foot-text-link > li{
	float:left;
}
.blue-circle::before{
	display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transition: 0.5s;
    background: #00c0ff;
    vertical-align: 2px;
    margin-right: 15px;
}

@media only screen and (max-width: 855px) {
	 .sup-nav-cont{
	 	width: 100%;
	 	height: 60px;
 	}
 	 .sup-nav-cont .main-cont{
 		padding: 0 58px 0 15px;
 	}
 	 /*导航logo*/
	  .sup-nav-cont .sup-header-logo{
		  width: 127px;
		  height: 60px;
	 }
 	/*导航列表*/
 	 .sup-nav-cont .sup-header-lists .list{
		padding: 15px 20px;
		line-height: 30px;
	 }
	
	/*部nav中collapse按钮*/
	.sup-nav-cont .navbar-toggle{
		margin-top: 5px;
	}
	.sup-nav-cont .navbar-toggle .icon-bar{
		background:#00C0FF;
		height: 3px;
		margin-top: 6px;
		width: 33px;
	}
}
/*按钮read more封装*/
.sup-readmore {
	font-size: 18px;
	text-decoration: line-through;
}
.sup-readmore:hover{
	
	animation: ani 1s infinite alternate;
}
	@keyframes ani{

			0%{
				font-size: 18px;
				text-decoration: line-through;
			}
			25%{
				font-size: 18px;
				text-decoration: line-through;
			}
			
			50% {
				text-decoration: none;
	            color:#00c0ff;
			}
			75% {
				text-decoration: none;
	            color:#00c0ff;
			}
			100%{
				text-decoration: none;
				color:#00c0ff;
			}
		}
/*首页蒙层封装*/


/*响应式模块蒙层封装*/
.sup-video .sup-video-cover-father{
	position: relative;
}
.sup-video .sup-video-cover{
	width:178px;
	height:100px;
	position:absolute;
	top:0px;
	left:0px;
}

.sup-video .sup-video-cover-cricle{  
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -20px;
	margin-left:-20px;
	width:40px;
	height:40px;
	line-height: 40px;
	border:2px solid white;
	border-radius: 50%;
	background:rgba(0,0,0,.5);
	display: none;
}
.sup-video .sup-video-cover-cricle:after{
	content: '';
	display:inline-block;
	border:12px solid transparent;
	border-left-color:white;
	position: absolute;
	top:8px;
	left:15px;
}
.sup-video .sup-video-cover:hover  .sup-video-cover-cricle{
	animation: supvdio 5s infinite alternate;
	display:block;	
}
@keyframes supvdio{
		0%{
			display:block;
			
		}			
		50% {
			display:block;
			background: #00C0FF;
			

		}		
		100%{
			display:block;
			background: #00C0FF;
		

		}
	}
/*案例展示模块蒙层封装*/
.sup-caseshow-cover-father{
	position: relative;
	
}

.sup-caseshow-cover{
	width: 289px;
	height:209px;
	position:absolute;
	top:0;
	left:0;

}
.sup-caseshow-cover:hover{
	background:rgba(0,0,0,.5);
}
.sup-caseshow-cover-circle{
	position: absolute;
	top:50%;
	left:50%;
	font-size: 30px;
	font-weight: bolder;
	margin-top: -22px;
	margin-left:-22px;
	width: 44px;
	height: 44px;
	text-align: center;
	color: #FFFDEF;
	border:2px solid white;
	border-radius: 50%;
	background:rgba(0,0,0,.5);
	display: none;
}
.sup-caseshow-covercon{
	position:absolute;
	bottom:10%;
	left:0;
	padding-left:20px;
	border-bottom: 2px solid #00C0FF;
	display: none;
}

.sup-caseshow-cover-father:hover .sup-caseshow-covercon{
	display: block;
	animation: supcaseshow-descript 5s infinite alternate;
}
.sup-caseshow-cover:hover .sup-caseshow-cover-circle{
	animation: supcaseshow 5s infinite alternate;	
	display:block;	
}
@keyframes supcaseshow-descript{
		0%{
			display:none;
			
		}			
		50% {
			display:none;		
		}		
		100%{
			display:block;		
		}
	}
@keyframes supcaseshow{
		0%{
			display:none;
			
		}			
		50% {
			display:block;
			background: #00C0FF;
			

		}		
		100%{
			display:block;
			background: #00C0FF;
		

		}
	}
	
/*产品部分蒙层封装*/
.sup-product-corver{
	width:333px;
	height:262px;
	border:1px solid #CCCCCC;
}
