/*案例展示*/

.sup-caseshow{
	background-image: url(../img/sup-bg-img.jpg);
}
.sup-caseshow-lists{
	padding:36px;
}
.sup-caseshow-list{
	float:left;
	width:25%;
}
.sup-caseshow-list img{
	max-width:100%;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.sup-caseshow-list{
		width:25%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.sup-caseshow-list{
		width:50%;
	}
	
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
	.sup-caseshow-list{
		width:50%;
	}
}